@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Tektur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  margin: 0;
  height: 100vh;
}
html {
  min-height: 100vh;
}
.App {
  text-align: center;
  scroll-behavior: smooth;
  overflow: hidden;
}
div {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  transform-style: flat;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  background: linear-gradient(grey, purple, mediumorchid, orchid);
  border-radius: 100vw;
}

#Home {
  background-color: #f2f2fc;
  font-size: 1.1rem;
  padding: 0px 20px;
}
.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, mediumorchid);
  position: absolute;
  opacity: 55%;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.circle.three {
  width: 100px;
  height: 100px;
  bottom: -30px;
  left: 70px;
}
.circle.four {
  width: 200px;
  height: 200px;
  bottom: 80px;
  left: 350px;
}
.circle.five {
  width: 150px;
  height: 150px;
  top: 500px;
  left: 70px;
}
.circle.six {
  width: 80px;
  height: 80px;
  top: 400px;
  left: 200px;
}
#home_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  align-items: center;
  height: 100vh;
  text-align: left;
}

#home_content {
  margin-top: 100px;
  font-size: 100%;
}
#home_content span > p {
  color: mediumorchid;
  font-weight: bolder;
  font-family: "Petit Formal Script", script;
  font-size: 2.5rem;
}

#home_content h2 {
  font-family: pattaya;
}
#home_container img {
  /* width: 600px;
  height: 350px; */
}

@media screen {
  #home_container .home-img img {
    position: relative;
    margin: 0px auto;
    width: 100%;
    height: 100%;
  }
}

/* @media screen{
  .home-img::before {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    border-top: 10px solid purple;
    border-left: 10px solid purple;
    left: 20px;
    top: 70px;
   
}

  .home-img::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    border-bottom: 10px solid purple;
    border-right: 10px solid purple;
    right: 10px;
    bottom: 50px;

}

.home .home-img img {
  display: inline-box;
    margin: 0px auto;
    padding: auto;
    border-radius: 5px;
    height: 400px;
}
} */

.typewriter_container {
  text-align: left;
  color: Purple;
  font-family: serif;
}

/*---------- About_section ----------*/
#About {
  background: #36454f;
  color: mediumorchid;
}
#About img {
  width: 600px;
}
@media screen {
  #About img {
    margin: auto;
    width: 100%;
  }
}
#about_container {
  margin: 0;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: 1rem;
  align-items: center;
  top: 45%;
  left: 45%;
  min-height: 90vh;
  object-fit: cover;
  text-align: justify;
}

#about_content {
  font-size: 120%;
}

#about_content button {
  display: inline-block;
  position: relative;
  font-size: 18px;
  background-color: mediumorchid;
  color: whitesmoke;
  border: 1px solid mediumorchid;
  cursor: pointer;
  padding: 12px 36px;
  border-radius: 40px;
}

#about_content button:hover {
  font-size: 20px;
  transition: 0.5s ease;
  background-color: purple;
}

/*--------- Services_section ----------*/
#Services {
  background: #f2f2fc;
  min-height: 100vh;
}
#services_container {
  align-items: center;
  padding: 10px 0px;
  justify-content: center;
}
#services_content {
  margin-top: 12px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  grid-gap: 1rem;
  justify-items: center;
  top: 45px;
}
.box {
  cursor: pointer;
  font-family: "Cookie", cursive;
  font-size: 20px;
  border: 1px solid black;
  padding: 18px;
  height: 250px;
  width: 300px;
  border-radius: 10px;
}
.box #icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  align-content: center;
  transition: all 0.3s ease;
}
.box:hover {
  transition: 0.3s ease;
  box-shadow: 0 0 20px gray;
  font-size: 27px;
  height: 310px;
  width: 350px;

  & #icon {
    background: mediumorchid;
  }

  & .bi {
    margin-top: 12px;
    width: 35px;
    height: 35px;
    color: #ffffff;
  }
}

/*---------- WhyMe ----------*/
.WhyMe {
  margin-top: 2%;
  min-height: 50vh;
}

.WhyMe-content {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.description {
  border-radius: 10px;
  background-color: rgb(237, 218, 237);
  height: 200px;
  width: 400px;
}
#whyme_icon {
  color: mediumorchid;
}
@media (max-width: 650px) {
  .description {
    width: 300px;
    margin-bottom: 2rem;
  }
}

/*---------- Swiper Animation ----------*/
#SwiperAni {
  background: #36454f;
  min-height: 100%;
  color: mediumorchid;
  padding: 15%;
  padding-left: 30%;
  /* padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 20%; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide .messages_content {
  display: block;
  width: 50%;
  height: 70%;
  align-items: center;
  /* object-fit: cover; */
  padding-top: 20px;
  border: 1px solid mediumorchid;
}

@media screen {
  .swiper-slide .messages_content {
    padding: 0px;
    margin: auto;
    padding: 0px auto;
    width: 100%;
    height: 100%;
  }
}
/* .mySwiper {
  display: flex;
  justify-content: center;
  height: 40%;
  width: 45%;
} */

/* .messages_content {  

  font-size: 25px;
  padding-top: 50px;
  margin: 10px;
  border: 1px solid;
  width: 75%;
  height: 100%;
} */

.messages_content img {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border: 4px solid;
  border-radius: 50%;
}

/* Contact section */
#Contact {
  background: #f2f2fc;
  min-height: 90vh;
  justify-items: center;
  padding-top: 20px;
}
.contact_content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 50px;
  position: relative;
}
.contact_content input {
  background-color: rgb(237, 218, 237);
  width: 41.5%;
  height: 25px;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 16px;
  border: 1px solid #e8dfec;
}
#subject {
  width: 90%;
  height: 25px;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 16px;
}
textarea {
  background-color: rgb(237, 218, 237);
  width: 90%;
  height: 150px;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 16px;
  border: 1px solid #e8dfec;
}
#submit {
  cursor: pointer;
  background-color: mediumorchid;
  color: white;
  height: 50px;
  border: none;
  border-radius: 45px;
  padding: 10px 25px;
  font-size: 18px;
  margin-bottom: 20px;

  &:hover {
    font-size: 20px;
    transition: 0.5s ease;
    background-color: purple;
    border: 1px solid mediumorchid;
    /* color: mediumorchid;
    background-color: white;
    
    transition: 0.5s ease; */
  }
}

#footer {
  margin: 0px;
  padding: 0px;
  bottom: 0;
  box-sizing: border-box;
  background-color: #131313;
  height: 60px;
  color: white;
  line-height: 20px;
  padding: 0px 50px;
}

#footer > p {
  float: left;
  letter-spacing: 1.5px;
  cursor: pointer;
}

#footer ul {
  float: right;
}

#footer li {
  display: inline-block;
  list-style: none;
}

#footer li a {
  padding: 0px 20px;
  color: white;
  text-decoration: none;
}

#footer li a:hover {
  color: mediumorchid;
  transition: 0.4s ease;
}

@media (max-width: 956px) {
  #footer {
    margin: auto;
    height: 150px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }

  #footer ul {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
  }

  #footer p {
    font-size: 1rem;
  }

  #footer ul li a {
    padding: 0.5rem;
    margin: 0px auto;
    display: block;
    font-size: 0.7rem;
  }
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: mediumorchid;
  opacity: 0.5;
  justify-self: center;
}
