.mySwiper {
  height: 100%;
  width: 90%;
  /* background-color: white; */
  position: relative
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  padding: 10px;
  display: block;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev, .swiper-button-next{
  color: gray;
  font-weight: bolder;
  
} 
.swiper-button-prev::after{
      font-size: 25px;
  }
.swiper-button-next::after{
      font-size: 25px;
  }
