#footer {
  margin: 0px;
  padding: 0px;
  bottom: 0;
  box-sizing: border-box;
  height: 60px;
  line-height: 20px;
  padding: 0px 50px;
}

#footer > p {
  float: left;
  letter-spacing: 1.5px;
}

#footer ul {
  float: right;
}

#footer li {
  display: inline-block;
  list-style: none;
}

#footer li a {
  padding: 0px 20px;
  color: white;
}

@media (max-width: 956px){
  #footer{
    margin: auto;
    height: 150px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }

  #footer ul{
    display: flex;  
    flex-direction: row;
  }

  #footer ul li a{
    padding: 0.5rem;
    margin: 0px auto;
    display: block;
  }

}