*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    display: block;
    margin-top: 0%;
}

.input-display{
    height: 150px;
    width: 100%;
    background:black ;
    border-radius: 5%;
    color: white;
    z-index: 12px;
    pointer-events: none;
    border: none;
    text-align: right;
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;

}

.calculator{
    height: 500px;
    width: 300px;
    background: #4d4d4d;
    border-radius: 12px;

}

button{
    margin-top: 9px;
    margin-left: 9px;
    height: 55px;
    width: 60px;
    background-color: white;
}

.btn{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
    border-radius: 12%;
}

.btn-grey{
    background: lightgrey;
}

.btn-yellow{
    background: yellowgreen;
}

.btn-equal{
    background: green;
}

.btn-clear{
    background: red;
}

